<section class="col-lg-8">
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput placeholder="product title">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select Category</mat-label>
      <mat-select>
        <mat-option value=""></mat-option>
        <mat-option [value]="category.$key" *ngFor="let category of categories"></mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input type="number" matInput placeholder="price">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input type="text" matInput placeholder="image url">
    </mat-form-field>
    <button type="button" mat-raised-button color="primary">Save Product</button>
  </form>
</section>
